<div class="btn-repas-block">
  <h3>Types de repas pour votre semaine</h3>
  <div class="btn-repas">
    <button mat-raised-button color="primary">Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="primary">Accent</button>
    <button mat-raised-button color="primary">Warn</button>
    <button mat-raised-button color="primary">Disabled</button>
    <a mat-raised-button color="primary" href="./home" target="_blank">Link</a>
  </div>
</div>