@use '/src/theme';

.mat-toolbar {
  justify-content: center;
  background-color: theme.$dark-power;
  height: 100px;
  font-family: inherit;
  font-weight: 500;
  color: theme.$light-power;
}

/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
  .footer__mobile {
    display: none;
  }

  
}
/******** Mobile < 1140PX *********/

@media only screen and (max-width: 1140px) {
  .footer__desktop {
    display: none;
  }
  .footer__mobile {
    width: 100%;
    right: 0;
    left: 0;
    bottom:0;
    background-color: theme.$dark-power;
  }

  .mat-expansion-panel {
    background-color: theme.$dark-power;
  }

  .mat-expansion-panel .mat-expansion-panel-header .mat-panel-title {
    color: #ffffff !important;
  }

  .mat-list-item {
    color: #ffffff !important;
    font-family: inherit;
  }


  // quick and dirty hack for touch devices running chrome
  @media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
      background-color: theme.$dark-power;
    }
  }
}
