<mat-toolbar>
    
        <mat-list-item class="nav-item"><a routerLink="/home" routerLinkActive="active">À propos</a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/home" routerLinkActive="active">Mon profil</a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/home" routerLinkActive="active">Recettes</a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/home" routerLinkActive="active">Types de repas</a></mat-list-item>
        <mat-list-item class="nav-item "><a routerLink="/home" routerLinkActive="active">Catégories</a></mat-list-item>
      
    </mat-toolbar>