
<!--Desktop-->
<footer class="footer__desktop">
<mat-toolbar>
    <a mat-button routerLink="/home" routerLinkActive="active">Acceuil</a>
    <a mat-button routerLink="/recipes" routerLinkActive="active">Recettes</a>
    <a mat-button routerLink="/menu" routerLinkActive="active">Mon menu</a>
    <a mat-button routerLink="/profile" routerLinkActive="active">Mon profile</a>
</mat-toolbar>
</footer>

<!--mobile-->
<footer class="footer__mobile">
    <mat-accordion>
        <mat-expansion-panel (opened)="setStep(0)" hideToggle="false">
            <mat-expansion-panel-header>
                <mat-panel-title style="color: #ffffff">
                    À propos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-list-item> <a routerLink="/home" routerLinkActive="active">Home</a></mat-list-item>
                <mat-list-item> <a routerLink="/menu" routerLinkActive="active">Menu</a></mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="false">
            <mat-expansion-panel-header >
                <mat-panel-title style="color: #ffffff">
                    Mon espace
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-list-item> <a routerLink="/profile" routerLinkActive="active">Mon profile</a></mat-list-item>
                <mat-list-item> <a routerLink="/menu" routerLinkActive="active">Mon menu</a></mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="false">
            <mat-expansion-panel-header>
                <mat-panel-title style="color: #ffffff">
                Recettes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-list-item> <a routerLink="/recipes" routerLinkActive="active">Toutes recettes</a></mat-list-item>
                <mat-list-item> <a routerLink="/menu" routerLinkActive="active">Créer recette</a></mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</footer>