/******** MOBILE >= 375PX *********/
#home-container {
 // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px;
}

#home-container-desktop{
  display:none;
}






/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
  #home-container-desktop{
    display:unset;
  }

  #home-container{
    display: none;
  }



}