/******** MOBILE >= 375PX *********/
#home-container {
 // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:16px;
  height: 100%;
  padding: 25px;
}

#home-container-desktop{
  display:none;
}

.recipes-block,
.repas-block,
.week-block{
  margin: 10px;
}




/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
  #home-container-desktop{
    display:unset;
  }

  #home-container{
    display: none;
  }



}