/******** MOBILE >= 375PX *********/
#home-container {
  border: 2px solid blue;
 
  height: 100%;
  padding: 10px;
}
#home-container-desktop{
  display:none;
}

.date-ad-block{
  display: none;
}

/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
  #home-container-desktop{
    display:unset;
  }

  #home-container{
    display: none;
  }
}