:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  height: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

app-header {
  height: 80px;
  position: sticky;
}

main {
  flex: 1;
  height: 100%;
}

app-footer {
  height: 100px;
  //position: ;
}

// #content {
//   width: 100%;
//   height: 100%;
//   padding: 24px;
// }
