* {
    margin: 0;
}

nav,
main,
footer {
    margin: 0px 50px;
}

/**HEADER**/
header {
    display: flex;
    background-color: #333333;
    padding: 15px 0px;
    width: 100%;
    top:0;
}

/**NAVBAR**/
.navbar {
    font-size: 15px;
    color: #F9F9FC;

    li {

        display: inline;

        a {
            color: #F9F9FC;
            text-decoration: none;
            padding: 14px 16px;
            padding-left: 0;

            &hover {
                text-decoration: underline;
            }
        }
    }
}

.nav-ul,
.nav-item,
a {

    padding: 0;

    &:active {
        padding: 0;
    }

    &:hover {
        padding: 0;
    }
}


/**MAIN**/
main{
    display: block;
    height: 40px;
}


/**FOOTER**/
footer{
    display: flex;
    bottom:0;
}