<header>
  <mat-nav-list>
    <a mat-list-item
       routerLink="/home"
       routerLinkActive="active"> Accueil </a>
    <a mat-list-item
       routerLink="/recipes"
       routerLinkActive="active"> Recettes </a>
    <a mat-list-item
       routerLink="/menu"
       routerLinkActive="active"> Mon Menu </a>
    <ng-container *ngIf="user; else loginBtnTemplate">
      <a mat-list-item
         routerLink="/profile"
         routerLinkActive="active">
        Profile
      </a>
      <button mat-list-item
              class="logoutBtn"
              (click)="onLogout()">
        <mat-icon matListIcon>logout</mat-icon>
        Deconnexion
      </button>
    </ng-container>
    <ng-template #loginBtnTemplate>
      <button mat-list-item
              class="loginBtn"
              (click)="onLogin()">
        <mat-icon matListIcon>login</mat-icon>
        Connexion
      </button>
    </ng-template>
  </mat-nav-list>

  <button mat-icon-button
          class="mobileMenuBtn"
          (click)="openSideNavHandler()">
    <mat-icon>menu</mat-icon>
  </button>
</header>
