:host,
.menuSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}


.mat-card {
  flex: 1;
}


@media screen and (min-width: 650px) {
  .menuSection {
    flex-direction: row;
  }

  .userRecipesSection {
    width: 100%;
  }
}
