@use '/src/theme';

:host,
.menuSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  // height: 100%;
}


.mat-card {
  flex: 1;
}

.mat-button{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  background-color: theme.$gray-power;
  color: theme.$dark-power;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}


//DESKTOP
@media screen and (min-width: 650px) {
  .menuSection {
    flex-direction: row;
  }

  .userRecipesSection {
    width: 100%;
  }
}

.content{
  font-size: 2rem;
  line-height: 2.8rem;
  color: theme.$gray-power;
}