$light-power: #f9f9fc;
$dark-power: #333333;

mat-card {
  display: block;
  background: no-repeat linear-gradient(to left, transparent, $light-power), url(https://firebasestorage.googleapis.com/v0/b/projet-integrateur-66811.appspot.com/o/banner1.jpg?alt=media&token=80ec81e3-4977-46b8-a92c-cb01346f092c);
  background-size: cover;
  max-width: auto 0;
  min-height: 200px;
  margin-bottom: 8px;
  color: $dark-power;

  p {
    justify-content: space-between;
    

    &.title {
      font-weight: 500;
      font-size: 4rem;
      line-height: 40px;
      height: auto;
      width: auto;
      margin-right: 15px;
    }
    
    &.text {
        
      width: 250px;
      
    }
  }

}

/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
  mat-card {
    min-height: 400px;
    display: flex;
    padding: 45px;
    p {
      justify-content: space-between;
  
      &.title {
        font-weight: 500;
        font-size: 4rem;
        line-height: 40px;
        height: auto;
        width: auto 0;
        margin: 15px 0;

      }
      
      &.text {
        font-weight: 200;
        font-size: 2rem;
        line-height: 40px;
          color: $dark-power;
        width: 500px;
      }
    }
  }


}