$light-power: #f9f9fc;
$dark-power: #333333;

mat-card {
  display: block;
  background: no-repeat linear-gradient(to left, transparent, rgb(255, 255, 255, 0.7)), url(https://firebasestorage.googleapis.com/v0/b/projet-integrateur-66811.appspot.com/o/a4f5ad8961ad2413215d40a981925862.jpg?alt=media&token=b6614dd1-f8a3-470c-bd9d-df04155d0f89);
  background-size: cover;
  max-width: auto 0;
  min-height: 200px;
  margin-bottom: 8px;
  color: $dark-power;

  p {
    justify-content: space-between;

    &.title {
      font-weight: 500;
      font-size: 5rem;
      line-height: 40px;
      height: auto;
      width: auto;
      margin-right: 15px;
    }

    &.text {
      line-height: 20px;
      width: 250px;

    }
  }

}

/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
  mat-card {
    min-height: 400px;
    display: flex;
    padding: 45px;

    mat-card-content {

      p {
        justify-content: space-between;
        
        &.title {
          text-shadow: 3px 3px 5px $light-power;
          font-weight: 500;
          font-size: 5rem;
          line-height: 40px;
          height: auto;
          width: auto 0;
          margin: 15px 0;

        }

        &.text {
          margin-top: 80px;
          font-weight: 500;
          font-size: 2.5rem;
          line-height: 40px;
          color: $dark-power;
          width: 500px;
        }
      }
    }
  }


}