<mat-grid-list id="grid-mobile"
               [cols]="gridCols"
               rowHeight="2:4"
               gutterSize="10px">
  <mat-grid-tile [colspan]="calendarTileColSpan"
                 [rowspan]="calendarTileRowSpan">
    <!-- Etape 1 - Calendrier -->
    <div class="calendar-grid">
      <mat-calendar class="inline-calendar-card"
                    [(selected)]="selected">
        [formGroup]="campaignTwo"
        [rangePicker]="campaignTwoPicker"
        [comparisonStart]="campaignOne.value.start"
        [comparisonEnd]="campaignOne.value.end">
      </mat-calendar>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="dayWeekTileColSpan"
                 [rowspan]="dayWeekTileRowSpan"> 2 </mat-grid-tile> <!-- Etape 3 - la semaine/journée -->
  <mat-grid-tile [colspan]="addRecipeBtnTileColSpan"
                 [rowspan]="addRecipeBtnTileRowSpan">
    <!-- Etape 2 - Button ajouter recipes -->
    <div>
      <p>{{selected | json}}</p>
      <app-add-recipe-button></app-add-recipe-button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="menuTileColSpan"
                 [rowspan]="menuTileRowSpan"> 4 </mat-grid-tile> <!-- Etape 4 - Calendrier -->
</mat-grid-list>
