<mat-grid-list id="grid-mobile"
               cols="4"
               rowHeight="2:2"
               gutterSize="10px">
  <mat-grid-tile [colspan]="3">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>

          <mat-panel-description>
            Voici votre calendrier {{panelOpenState ? 'ouvert' : 'fermer'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-calendar class="inline-calendar-card"
                      [(selected)]="selected">
          [formGroup]="campaignTwo"
          [rangePicker]="campaignTwoPicker"
          [comparisonStart]="campaignOne.value.start"
          [comparisonEnd]="campaignOne.value.end">
        </mat-calendar>
        <p>{{selected | json}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <app-add-recipe-button></app-add-recipe-button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <app-recipes-card-block></app-recipes-card-block>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2"> 4 </mat-grid-tile>
</mat-grid-list>
