<mat-card class="recipes-card"
          (click)="onShowDetails()">
  <img mat-card-image
       [src]="recipe.image"
       [alt]="recipe.nom">
  <mat-card-content>{{recipe.nom}}</mat-card-content>
  <mat-card-actions>
    <ng-container *ngIf="showAddToMenuButton">
      <button mat-icon-button
              type="button"
              (click)="onAddRecipe($event)">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <ng-template #addToMenuModalContent>
        <app-add-recipe-to-menu-modal-content [recipeToAdd]="recipe"></app-add-recipe-to-menu-modal-content>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="showModifyButton">
      <button mat-icon-button
              type="button"
              (click)="onModifyRecipe($event)">
        <mat-icon>edit</mat-icon>
      </button>
      <ng-template #modifyRecipeModalContent>
        <app-recipe-form [recipeToModify]="recipe"></app-recipe-form>
      </ng-template>
    </ng-container>
    <button mat-icon-button
            type="button"
            *ngIf="showDeleteButton"
            (click)="onDeleteRecipe($event)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button
            type="button"
            *ngIf="showRemoveFromMenuButton"
            (click)="onRemoveRecipeFromMenu($event)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
  <ng-template #recipeDetailModalContent>
    <app-recipe-detail-modal-content [recipeToShow]="recipe"></app-recipe-detail-modal-content>
  </ng-template>
</mat-card>
