<mat-card class="recipes-card"
          (click)="onShowDetails()">
  <img mat-card-image
       [src]="recipe.image"
       [alt]="recipe.nom">
  <mat-card-title>{{recipe.nom}}</mat-card-title>
  <mat-card-actions *ngIf="showAddToMenuButton || showModifyButton">
    <ng-container *ngIf="showAddToMenuButton">
      <button mat-icon-button
              type="button"
              (click)="onAddRecipe($event)">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <ng-template #addToMenuModalContent>
        <app-add-recipe-to-menu-modal-content [recipeToAdd]="recipe"></app-add-recipe-to-menu-modal-content>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="showModifyButton">
      <button mat-icon-button
              type="button"
              (click)="onModifyRecipe($event)">
        <mat-icon>edit</mat-icon>
      </button>
      <ng-template #modifyRecipeModalContent>
        <app-recipe-form [recipeToModify]="recipe"></app-recipe-form>
      </ng-template>
    </ng-container>
    <ng-template #recipeDetailModalContent>
      <app-recipe-detail-modal-content [recipeToShow]="recipe"></app-recipe-detail-modal-content>
    </ng-template>
  </mat-card-actions>
</mat-card>
