:host {
  width: 100%;
  height: 100%;
}

mat-card {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }

  p {
    height: 30%;
  }
}

mat-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}


@media only screen and (min-width: 1140px) {
  //if more than 1140 px


  // .recipes-card {
  //   font-size: 14px
  // }

  // .recipes-card {
  //   .recipes-card__menu-page {
  //     display: unset;

  //     .img-card {
  //       max-width: 400px;
  //       margin-bottom: 8px;
  //     }

  //   }
  // }
}
