<mat-card class="recipes-card"
          (click)="onShowDetails()">
  <img [src]="recipe.image"
       [alt]="recipe.nom">
  <mat-card-content>
    <p>
      {{recipe.nom}}
    </p>
    <ng-container *ngIf="showButton">
      <button mat-button
              type="button"
              (click)="onAddRecipe($event)">Ajouter a mon menu</button>
      <ng-template #addToMenuModalContent>
        <app-add-recipe-to-menu-modal-content [recipeToAdd]="recipe"></app-add-recipe-to-menu-modal-content>
      </ng-template>
    </ng-container>
    <ng-template #recipeDetailModalContent>
      <app-recipe-detail-modal-content [recipeToShow]="recipe"></app-recipe-detail-modal-content>
    </ng-template>
  </mat-card-content>
</mat-card>

<!-- <mat-card class="recipes-card__menu-page">
  <mat-card-title-group>
    <img mat-card-lg-image
         class="img-card"
         [alt]="recipe.instructions"
         [src]="recipe.image">
  </mat-card-title-group>
  <mat-card-content>
    {{recipe.nom}}
  </mat-card-content>
</mat-card> -->
