<button mat-icon-button
        class="closeBtn"
        (click)="onCloseHandler()">
  <mat-icon>close</mat-icon>
</button>

<mat-nav-list>
  <a mat-list-item
     routerLink="/home"
     routerLinkActive="active"
     (click)="onCloseHandler()">
    <mat-icon matListIcon>home</mat-icon>
    Accueil
  </a>
  <a mat-list-item
     routerLink="/recipes"
     routerLinkActive="active"
     (click)="onCloseHandler()">
    <mat-icon matListIcon>list</mat-icon>
    Recettes
  </a>
  <a mat-list-item
     routerLink="/menu"
     routerLinkActive="active"
     (click)="onCloseHandler()">
    <mat-icon matListIcon>restaurant_menu</mat-icon>
    Mon Menu
  </a>
  <ng-container *ngIf="user; else loginBtnTemplate">
    <a mat-list-item
       routerLink="/profile"
       routerLinkActive="active"
       (click)="onCloseHandler()">
      <mat-icon matListIcon>person</mat-icon>
      Profile
    </a>
    <ng-container *ngIf="user.role === 'A'">
      <a mat-list-item
         routerLink="/admin"
         routerLinkActive="active"
         (click)="onCloseHandler()">
        <mat-icon matListIcon>settings</mat-icon>
        Admin
      </a>
    </ng-container>
    <mat-list-item>
      <button mat-icon-button
              (click)="onLogout()">
        <mat-icon matListIcon>logout</mat-icon>
        Deconnexion
      </button>
    </mat-list-item>
  </ng-container>
  <ng-template #loginBtnTemplate>
    <mat-list-item>
      <button mat-icon-button
              (click)="onLogin()">
        <mat-icon matListIcon>login</mat-icon>
        Connexion
      </button>
    </mat-list-item>
  </ng-template>

</mat-nav-list>
