<mat-card>
  <button mat-icon-button
  type="button"
  (click)="closeModal()">
<mat-icon>close</mat-icon>
</button>

  <img mat-card-image [src]="recipeToShow.image"
       [alt]="recipeToShow.nom">
    <mat-card-title>
      {{recipeToShow.nom}}
    </mat-card-title>
    <mat-card-subtitle>
      Préparation {{recipeToShow.tempPreparation}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Cuisson {{recipeToShow.tempCuisson}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Portions {{recipeToShow.nombreServis}}
    </mat-card-subtitle>
    <mat-card-content>
      Ingrédients:  
      <mat-list-item *ngFor="let ingredient of recipeToShow.ingredients">
        {{ingredient.nom}} 
        {{ingredient.preparation}}
        {{ingredient.quantite}}
        {{poidMesureLabels[ingredient.unites]}}
        <!--{{categorieLabels[ingredient.categorie]}}  -->  
      </mat-list-item> 
    
      <mat-list-item>
      {{recipeToShow.instructions}}
   </mat-list-item>
  </mat-card-content>
   <ng-container *ngIf="showButton">
    <button mat-button
            type="button"
            (click)="onAddRecipe($event)">Ajouter à mon menu</button>
    <ng-template #addToMenuModalContent>
      <app-add-recipe-to-menu-modal-content [recipeToAdd]="recipeToShow"></app-add-recipe-to-menu-modal-content>
    </ng-template>
  </ng-container>
</mat-card> 
