<h2 class="mat-h2">Creer une nouvelle recette</h2>
<form [formGroup]="recipeForm"
      (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput
           formControlName="nom">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image</mat-label>
    <input matInput
           formControlName="image">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Personnes servis</mat-label>
    <input type="number"
           matInput
           formControlName="nombreServis">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Temp de preparation</mat-label>
    <input type="number"
           matInput
           formControlName="tempPreparation">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Temp de cuisson</mat-label>
    <input type="number"
           matInput
           formControlName="tempCuisson">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type de recette</mat-label>
    <mat-select formControlName="typeRecette">
      <mat-option *ngFor="let label of typeLabels; index as i"
                  value="{{i}}">{{label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="field-intructions" appearance="fill">
    <mat-label>Instructions</mat-label>
    <textarea matInput
              formControlName="instructions"></textarea>
  </mat-form-field>
  <h3>Ingredients</h3>
  <button mat-icon-button
          type="button"
          (click)="onAddIngredient()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <mat-list formArrayName="ingredients">
    <mat-list-item *ngFor="let ingredient of getIngredientControls(); index as i"
                   [formGroupName]="i">
      <button mat-icon-button
              type="button"
              (click)="onRemoveIngredient(i)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput
               formControlName="nom">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preparation</mat-label>
        <input matInput
               formControlName="preparation">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantite</mat-label>
        <input matInput
               formControlName="quantite"
               type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unites</mat-label>
        <mat-select formControlName="unites">
          <mat-option *ngFor="let label of poidMesureLabels; index as i"
                      value="{{i}}">{{label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="categorie">
          <mat-option *ngFor="let label of categorieLabels; index as i"
                      value="{{i}}">{{label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <button type="submit"
          mat-button>Confirmer</button>
</form>
