$grey: #333333;
$grey-light: #c9c9c9;
$red: #de342d;
$red-light: #ee9591;
$white: #f9f9fc;
$orange:#fa6e05;
$orange-light: #fdcfac;
$beige:#f0d5b3;
$beige-light:#faf1e6;
$mauve:#a5389d;

mat-card{
   max-width: 60%;
    border-radius: 10px;
    padding: 30px;
}


mat-selection-list{
    display: flex;
    padding: 0;
    margin: 10px 0;
}

.week-list{
    display: inline-flex;
    justify-content: flex-start;
    border-radius: 10px;
    border: solid $grey;
}