<mat-card class="week-card">
  <mat-card-title>Organiser vos plats préférés pour la semaine</mat-card-title>
  <mat-card-subtitle>Sélectionner un jour de la semaine</mat-card-subtitle>
  <mat-list>
    <mat-list-item>Dimanche</mat-list-item>
    <mat-list-item>Lundi</mat-list-item>
    <mat-list-item>Mardi</mat-list-item>
    <mat-list-item>Mercredi</mat-list-item>
    <mat-list-item>Jeudi</mat-list-item>
    <mat-list-item>Vendredi</mat-list-item>
    <mat-list-item>Samedi</mat-list-item>
  </mat-list>
</mat-card>