$light-power: #f9f9fc;
$dark-power: #333333;

.mat-card{
  width: 90%;
  margin-bottom: 8px;
  justify-content: center;
  display:flex;
}

.mat-card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.mat-card-image:first-child {
  margin-top: 0px;}
.title{
  font-weight: 500;
  color: $dark-power;
}
.subtitle{
    font-weight: 200;
    color: $dark-power;
}


  //mobile
@media screen and (max-width: 1140px) {
 /* .teaser-content{
    flex-direction: row;
  } */
}

/******** DESKTOP >= 1140PX *********/
@media screen and (min-width: 1140px) {
    //.mat-card-content
       .title {
         
          font-size: 3rem;
          line-height: 30px;
        }
        
        .subtitle {
          font-weight: 200;
          font-size: 2rem;
          line-height: 30px;
         }
      }
    
  
  
  