$dark-power: #333333;
$light-power: #f9f9fc;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  color:$dark-power;
} 

mat-card {
  display: flex;
 // align-items: center;
 
  img {
    object-fit: cover;
    max-width: 50%;
    margin: 0;
    padding: 0;
  }

  mat-card-content {
  display: flex;
  flex-direction:column;
  align-items: center; 
  margin-left: 20px;
  
  mat-card-title, mat-card-subtitle{
    text-align: center;
    }
  } 
}
//DESkTOP
@media screen and (min-width: 1140px) {
  mat-card{
    width:80%;
    align-items:center;
  }
}
//MOBILE
@media screen and (max-width: 1140px) {
 mat-card{
  width:100%;
  mat-card-content{
    margin-top: 20px;
    mat-card-title{
      font-size:20px;
      }
      mat-card-subtitle{
        font-size:12px;
        line-height:normal;
      }
  }
 }
}