<mat-card>
      
    <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/projet-integrateur-66811.appspot.com/o/teaser-photo.jpg?alt=media&token=5e3702ee-a2d8-4fbf-8b39-513abbe81371" alt="Gaufres">
    <mat-card-content class="teaser-content"> 
        <mat-card-title>
Une journée bien organisée!
        </mat-card-title>
  <mat-card-subtitle>
        Préparez votre journée avec notre calendrier pour tous vos repas!
  </mat-card-subtitle> 

    <mat-card-actions>
    <button mat-button routerLink="/menu" routerLinkActive="active" color="warn">Créer un menu</button>
</mat-card-actions>
</mat-card-content>
</mat-card>
