<mat-card class="teaser">
    <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/projet-integrateur-66811.appspot.com/o/gaufres%20(1).jpg?alt=media&token=765e2685-0cd9-48f2-a2ff-1a6b41632898" alt="Gaufres">
   <mat-card-content class="teaser-content"> 
    <mat-card-title>
Une journée bien organisée!
    </mat-card-title>
    <mat-card-subtitle>
        Préparez votre journée avec notre calendrier pour tous vos repas!
    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-button routerLink="/menu" routerLinkActive="active" color="warn">Voir calendrier</button>
      </mat-card-actions>
    </mat-card-content>
    </mat-card>