<div *ngIf="user"
     id="main-profile">
  <mat-card class="profile-card">

    <div class="profile-card-header">
      <div class="profile-img">
        <img mat-card-avatar
             class="profile-avatar"
             [src]="user.avatar"
             alt="">
      </div>

      <div class="profile-info">
        <mat-card-title>{{user.nomAfficher}}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      </div>
    </div>

    <mat-card-content>

      <div class="nomAfficherField">
        <mat-form-field>
          <mat-label class="text-user-name">Nom d'utilisateur: </mat-label>
          <input matInput
                 value="{{user.nomAfficher}}"
                 #nomAfficherInput>
        </mat-form-field>
        <button type="button"
                mat-button
                (click)="onChangeNomAfficher(nomAfficherInput.value)">Confirmer</button>
      </div>
      <div class="avatarField">
        <mat-form-field>
          <mat-label class="text-user-name">Image d'avatar: </mat-label>
          <input matInput
                 value="{{user.avatar}}"
                 #avatarInput>
        </mat-form-field>
        <button type="button"
                mat-button
                (click)="onChangeAvatar(avatarInput.value)">Confirmer</button>
      </div>

      <p class="text-user-actif"
         *ngIf="user.actif === 0">Veuillez connecter l'administrateur</p>
    </mat-card-content>
  </mat-card>
</div>



<div *ngIf="!user">
  user is logged out
</div>
