@use '@angular/material' as mat;
@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-grey-palette);
$my-app-accent: mat.define-palette(mat.$orange-palette, A700, 100, 50);
$my-app-warn: mat.define-palette(mat.$purple-palette, 400, 100);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);
*{
  font-family: 'Poppins', sans-serif;
}