/* You can add global styles to this file, and also import other style files */
@use 'theme';
@import '~firebaseui/dist/firebaseui.css';

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f9f9fc;
}

// overwrite firebaseui styles
.firebaseui-container {
  border: none;
  box-shadow: none;
}
