/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';
* {
  font-family: 'Poppins', sans-serif;
}


html, body { 
    
    height: 100%; 
    body { 
        font-weight: 40px;
        color:red;
        }
    }

    .mat-typography{
      margin: 0;
    }

  