.btn-repas-block {}

.btn-repas {
  display: table-cell;
  font-size: 14px;
  margin: 8px 8px 8px 0;
  display: table-cell;
  width: 490px;
  display: flex;
  justify-content: space-between;

  .btn-repas-block {
    align-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1140px) {
    .btn-repas {
        display: table-cell;
        font-size: 14px;
        margin: 8px 8px 8px 0;
        display: table-cell;
        width: 490px;
        display: flex;
        justify-content: space-between;
      
        .btn-repas-block {
          align-content: center;
          align-items: center;
        }
      }

}